<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FrontendConnection" connectionString="Server=DESKTOP-VREBPAN\MSSQLSERVER17;Database=FRONTEND;Trusted_Connection=True;Encrypt=False"/>
    <add name="LoginConnection" connectionString="Server=DESKTOP-VREBPAN\MSSQLSERVER17;Database=LOGIN;Trusted_Connection=True;Encrypt=False"/>
  </connectionStrings>
</configuration>