<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--"Server=DESKTOP-VREBPAN\\MSSQLSERVER17;Database=FRONTEND_RESERVATION;Trusted_Connection=True;Encrypt=False"-->
    <add name="FrontendConnection" connectionString="Server=DESKTOP-VREBPAN\\MSSQLSERVER17;Database=FRONTEND_RESERVATION;Trusted_Connection=True;Encrypt=False"/>
    <!--<add name="FrontendConnection" connectionString="Data Source=DESKTOP-VREBPAN\\MSSQLSERVER17;Initial Catalog=FRONTEND_RESERVATION;Integrated Security=True;Encrypt=False;"/>-->
    <!---->
    <add name="LoginConnection" connectionString="Server=DESKTOP-VREBPAN\\MSSQLSERVER17;Database=LOGIN_MANAGER;Trusted_Connection=True;Encrypt=False"/>
    <!--<add name="LoginConnection" connectionString="Data Source=DESKTOP-VREBPAN\\MSSQLSERVER17;Initial Catalog=LOGIN_MANAGER;Integrated Security=True;Encrypt=False;"/>-->
  </connectionStrings>
</configuration>