<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FrontEndConnStr" connectionString="Data Source=DESKTOP-VREBPAN\\MSSQLSERVER17;Initial Catalog=FRONTEND_RESERVATION;Integrated Security=True;Encrypt=false;"/>
    <add name="LoginMgrConnStr" connectionString="Data Source=DESKTOP-VREBPAN\\MSSQLSERVER17;Initial Catalog=LOGIN_MANAGER;Integrated Security=True;Encrypt=false;"/>
  </connectionStrings>
</configuration>